@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  margin-bottom: 0rem;
}

a,
span,
button,
div {
  font-family: inherit;
}

a {
  color: #000;
}

/*--------------------*/

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #EFEFEF;
  font-family: 'Raleway';
}

.wrapper {
  overflow: hidden;
}

main {
  padding: 100px 0px 160px 0px;
  position: relative;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0px 20px;
}

h1 {
  font-size: 80px;
}

.dashes {
  position: relative;
  padding-bottom: 10px;
}

.dashes::before,
.dashes::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  bottom: 0px;
  left: 0px;
}

.dashes:before {
  bottom: 5px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item svg,
.socials__item path {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__item:hover path {
  fill: #008C8C;
}

.socials .mail:hover path {
  stroke: #008C8C;
  fill: transparent;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.bg svg {
  position: relative;
  z-index: 1;
}

.line-bg {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.shadow {
  z-index: -2;
  width: 1;
  height: 1;
  right: 0%;
  top: 18%;
  position: absolute;
  background: #08C2C2;
  -webkit-box-shadow: 0 0 364px 265px #08c2c2;
          box-shadow: 0 0 364px 265px #08c2c2;
  border-radius: 50%;
  -webkit-animation: showBgShadow 3s ease-in;
          animation: showBgShadow 3s ease-in;
}

@-webkit-keyframes showBgShadow {
  0% {
    -webkit-box-shadow: 0 0 10px 10px #08c2c2;
            box-shadow: 0 0 10px 10px #08c2c2;
  }

  80% {
    -webkit-box-shadow: 0 0 464px 365px #08c2c2;
            box-shadow: 0 0 464px 365px #08c2c2;
  }

  100% {
    -webkit-box-shadow: 0 0 364px 265px #08c2c2;
            box-shadow: 0 0 364px 265px #08c2c2;
  }
}

@keyframes showBgShadow {
  0% {
    -webkit-box-shadow: 0 0 10px 10px #08c2c2;
            box-shadow: 0 0 10px 10px #08c2c2;
  }

  80% {
    -webkit-box-shadow: 0 0 464px 365px #08c2c2;
            box-shadow: 0 0 464px 365px #08c2c2;
  }

  100% {
    -webkit-box-shadow: 0 0 364px 265px #08c2c2;
            box-shadow: 0 0 364px 265px #08c2c2;
  }
}

.link-home {
  display: block;
  margin-bottom: 200px;
  font-size: 24px;
}

.link-home__link {
  cursor: pointer;
  display: inline-block;
  text-align: right;
}

.link-home__link:hover {
  color: #008c8c;
}

.link-home__link:hover path {
  fill: #008c8c;
}

.link-home span {
  display: block;
  margin-bottom: 25px;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.link-home svg,
.link-home path {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header {
  width: 100%;
  padding: 20px 0px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav {
  margin-right: 54px;
}

.header nav > ul {
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav > ul > li {
  padding: 33px 20px;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 10px;
}

.header nav > ul > li:last-child {
  margin-right: 0px;
}

.header__link {
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header__link:hover {
  color: #008C8C;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__socials svg,
.header__socials path {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__socials a {
  margin-right: 40px;
}

.header__socials a:last-child {
  margin-right: 0px;
}

.header__socials a:hover path {
  fill: #008C8C;
}

.sub-menu {
  position: relative;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-menu__body {
  max-height: 0px;
  min-width: 260px;
  position: absolute;
  right: 0px;
  top: 84px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  text-align: right;
  overflow: hidden;
  z-index: 4;
}

.sub-menu__body li {
  width: 100%;
  height: auto;
  text-transform: capitalize;
  position: relative;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.sub-menu__body li:first-child {
  padding-top: 5px;
}

.sub-menu__body li:nth-child(2n) {
  border-bottom: dashed 1px #000;
  border-top: dashed 1px #000;
  -o-border-image: url("../img/UI/line.svg") 2 round;
     border-image: url("../img/UI/line.svg") 2 round;
}

.sub-menu__body li:before,
.sub-menu__body li:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: transparent;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.sub-menu__body li::before {
  top: -1px;
}

.sub-menu__body li::after {
  bottom: -1px;
}

.sub-menu__body li:hover {
  background-color: #008C8C;
  color: #fff;
}

.sub-menu__body li:hover:before,
.sub-menu__body li:hover:after {
  background-color: #008C8C;
}

.sub-menu__body a {
  width: 100%;
  padding: 12px 29px 12px 10px;
  font-size: 16px;
  color: inherit;
  display: block;
}

.sub-menu > a {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.sub-menu__icon {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  margin-left: 7px;
  margin-bottom: 3px;
}

.sub-menu__icon path {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.sub-menu:hover {
  background-color: #fff;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.sub-menu:hover > a {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  color: #008C8C;
}

.sub-menu:hover .sub-menu__icon {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sub-menu:hover .sub-menu__icon path {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  fill: #008C8C;
}

.sub-menu:hover .sub-menu__body {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}

.services__body {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.services-item {
  margin: 0px 10px;
  grid-column: span 2;
  margin-bottom: 20px;
  padding: 45px 43px;
  border: 1px solid #000000;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.services-item__title {
  font-size: 26px;
  margin-bottom: 30px;
}

.services-item__text {
  font-size: 20px;
  margin-bottom: 27px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.5;
  font-weight: 300;
  max-height: 300px;
  padding: 4px 0px;
}

.services-item__text p {
  padding-right: 8px;
}

.services-item__btn {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-left: auto;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
}

.services-item:nth-child(5n+1),
.services-item:nth-child(5n+2) {
  grid-column: span 3;
}

.services-item .simplebar-track.simplebar-vertical {
  width: 7px;
}

.form {
  margin-top: 250px;
}

.form input,
.form textarea {
  font-size: 24px;
  padding: 26px 37px;
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.form input:focus + label,
.form textarea:focus + label,
.form label.focus {
  font-size: 12px;
  top: 25%;
}

.form label {
  position: absolute;
  left: 37px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: #656565;
  z-index: 1;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form__title {
  font-size: 48px;
  margin-bottom: 70px;
  line-height: 1.5;
}

.form__title span {
  color: #008C8C;
}

.form__body {
  max-width: 900px;
  margin: 0 auto;
}

.form__inputs {
  width: 100%;
  height: 83px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__inputs > div {
  background-color: #fff;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  margin-right: 20px;
  border: solid 2px transparent;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form__inputs > div:last-child {
  margin-right: 0px;
}

.form__inputs input {
  padding-bottom: 17px;
  height: 100%;
  width: 100%;
}

.form__textarea {
  width: 100%;
  padding: 26px 37px;
  height: 206px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  background-color: #fff;
}

.form__textarea textarea {
  padding: 0px;
  overflow: auto;
  width: 100%;
  height: 100%;
  resize: none;
}

.form__textarea label {
  top: 26px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.form__textarea textarea:focus + label {
  top: 10px;
}

.form__submit {
  font-size: 24px;
  text-transform: uppercase;
}

.form__submit:hover {
  color: #008C8C;
}

.form__submit:hover::before,
.form__submit:hover::after {
  background-color: #008C8C;
}

.error {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border-bottom: 2px solid red !important;
}

.focus-border {
  border-bottom: 2px solid #008c8c !important;
}

.footer {
  width: 100%;
  padding: 90px 0px 105px 0px;
  border-top: dashed 1px #000;
  -o-border-image: url("../img/UI/line.svg") 2 round;
     border-image: url("../img/UI/line.svg") 2 round;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 76px;
}

.footer .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  height: 85px;
  margin-right: 78px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 909px;
          flex: 0 1 909px;
}

.footer__nav li {
  margin-right: 20px;
}

.footer__nav li:last-child {
  margin-right: 0;
}

.footer__nav a {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer__nav a:hover {
  color: #008C8C;
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__footer > P {
  font-size: 20px;
}

.footer__socials {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 463px;
          flex: 0 1 463px;
}

@media (min-width: 900px) {
  .services-item:hover {
    background-color: #008C8C;
    color: #fff;
  }

  .services-item:hover .services-item__btn {
    color: #fff;
  }

  .services-item:hover .services-item__btn::before,
  .services-item:hover .services-item__btn::after {
    background-color: #fff;
  }
}

@media (max-width: 1702px) {
  .line-bg {
    right: -20%;
    top: 2%;
  }
}

@media (max-width: 1200px) {
  .header nav > ul > li {
    padding: 23px 10px;
    font-size: 16px;
    margin-right: 10px;
  }
}

@media (max-width: 1100px) {
  .services-item {
    padding: 22px 20px;
  }

  .services-item__title {
    font-size: 20px;
    margin-bottom: 13px;
  }

  .services-item__text {
    font-size: 18px;
  }

  .services-item__btn {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .header__socials {
    display: none;
  }

  .header nav {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 28px;
  }

  .header {
    display: none;
  }

  .services__body {
    margin-top: 50px;
  }

  .services-item {
    padding: 22px 20px;
    margin: 0px 5px;
    margin-bottom: 10px;
  }

  .form__title {
    font-size: 30px;
  }

  .form input,
  .form textarea {
    font-size: 18px;
    padding: 18px 18px;
  }

  .footer {
    padding-top: 54px;
    padding-bottom: 60px;
  }

  .footer .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 97px;
            flex: 0 0 97px;
    height: 40px;
  }

  .footer__nav {
    padding-top: 18px;
  }

  .footer__nav li {
    font-size: 18px;
  }

  .footer__footer p {
    font-size: 14px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 40px;
  }

  .footer__socials {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .footer__socials a {
    margin-right: 40px;
    width: 30px;
    height: 30px;
  }

  .footer__socials a svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .line-bg {
    display: none;
  }

  .shadow {
    top: 7%;
    -webkit-box-shadow: 0 0 302px 207px #08c2c2;
            box-shadow: 0 0 302px 207px #08c2c2;
  }

  .link-home {
    margin-bottom: 60px;
  }

  .services-item {
    margin: 0px;
    margin-bottom: 20px;
    grid-column: span 6;
  }

  .services-item:nth-child(5n+1),
  .services-item:nth-child(5n+2) {
    grid-column: span 6;
  }
}

@media (max-width: 700px) {
  .form input,
  .form textarea {
    font-size: 14px;
  }

  .form__title {
    font-size: 24px;
  }

  .form__inputs {
    height: 60px;
  }

  .footer__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .footer .logo {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .form__inputs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin-bottom: 0;
  }

  .form__inputs input {
    width: 100%;
    height: 60px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav li {
    margin-bottom: 20px;
  }

  .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .footer__footer p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }

  .footer__socials {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}