



<div class="form">
    <div class="form__wrapper container">
        <h2 class="form__title">
            РАССКАЖИТЕ НАМ О СВОЕМ ПРОЕКТЕ, И МЫ
            <span>ВОПЛОТИМ ВАШИ ЖЕЛАНИЯ В РЕАЛЬНОСТЬ</span>
            
        </h2>
        <form class="form__body">
            <div class="form__inputs">
                <div>
                    <input type="text"  name="name" id="naem" class="required">
                    <label for="name">Ваше имя*</label>
                </div>

                <div>
                    <input type="text"  name="contacts" id="contacts" class="required" >
                    <label for="contacts">Телефон, email или skype*</label>
                </div>
            </div>
            <div class="form__textarea">
                <textarea name="massage" id="massage"></textarea>
                <label for="massage">Сообщение</label>
            </div>
    
            <button class="form__submit dashes">
                <span>отправить форму</span>
            </button>
        </form>
    </div>
</div>