

<section class="services">
    <div class="services__wrapper container ">    
        <h1 class="">УСЛУГИ</h1>
        <div class="services__body">
    
            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Техническая поддержка
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда предоставляет техническое сопровождение уже готовых проектов, вне зависимости от уровня сложности и состояния.
                    </p> 
                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>

            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Интеграция
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда разрабатывает сайты любой сложности: от простых лендингов и сайтов-витрин до полноценных интернет-магазинов.
                    </p> 
                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>

            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Разработка сайтов 
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда разрабатывает сайты любой сложности: от простых лендингов и сайтов-витрин до полноценных интернет-магазинов.
                    </p> 
                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>

            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Дизайн разработка
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда проектирует пользовательский опыт, создает и тестирует прототипы, а также воплощает дизайн сайтовdiv
                    </p> 

                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>

            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Интернет-магазин
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда разрабатывает интернет-магазины, учитывая необходимость интеграции с учетными системами или со сторонними сервисами.
                    </p> 
                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>

            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Веб-сервисы
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда разрабатывать уникальные веб-сервисы и отдельные скрипты для решения тех или иных бизнес-задач.
                    </p> 
                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>


            <div class="services__item services-item">
                <h3 class="services-item__title">
                    Адаптивная верстка
                </h3>
                <div class="services-item__text" data-simplebar data-simplebar-auto-hide="false">
                    <p>
                    Наша команда использует адаптивную вертку, позволяющая создавать веб-страницы, подстраивающиеся под любые размеры экрана.
                    </p> 
                </div>
                <a class="services-item__btn dashes" href="">
                    подробнее
                </a>
            </div>
            
        </div>
    </div>
</section>