

.form{
    margin-top: 250px;
    input, textarea{
        font-size: 24px;
        padding: 26px 37px;
        position: relative;
        z-index: 2;
        background-color: transparent;
    }
    input:focus + label,textarea:focus + label,  label.focus{
        font-size: 12px;
        top: 25%;
    }
    label{
        position: absolute;
        left: 37px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: #656565;
        z-index: 1;
        transition-duration: 0.3s;
    }
    &__title{
        font-size: 48px;
        margin-bottom: 70px;
        line-height: 1.5;
    
        span{
            color:  #008C8C
    
        }
    }

    &__body{
        max-width: 900px;
        margin: 0 auto;
    }
    
    &__inputs{
        width: 100%;
        height: 83px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        > div{
            background-color: #fff;
            position: relative;
            flex: 1 1 auto;
            height: 100%;
            margin-right: 20px;            
            border: solid 2px transparent;
            transition-duration: 0.3s;
            &:last-child{
                margin-right: 0px;
            }
        }
        input{
            padding-bottom: 17px;
            height: 100%;
            width: 100%;

        }
        
    }
    &__textarea{
        width: 100%;
        padding: 26px 37px;
        height: 206px;
        overflow: hidden;
        margin-bottom: 50px;
        position: relative;
        background-color: #fff;
        textarea{
            padding: 0px;
            overflow: auto;
            width: 100%;
            height: 100%;
            resize: none;
        }
        label{
            top: 26px;
            transform: translateY(0);
        }
        textarea:focus + label {
            top: 10px
        }
        
    }

    &__submit{
        font-size: 24px;
        text-transform: uppercase;
        &:hover{
            color: #008C8C;
            &::before,&::after{
                background-color: #008C8C;
            }
        }
    }
}

.error{
    transition-duration: 0.3s;
    border-bottom: 2px solid red !important;
}
.focus-border{
    border-bottom: 2px solid #008c8c !important;
}
@media (max-width: 900px) {
    .form{

        &__title{
            font-size: 30px;
        }
        input,textarea{
            font-size: 18px;
            padding: 18px 18px;
        }
        label {
            right: 18px;
            font-size: 17px;
        }
        input:focus + label,textarea:focus + label,  label.focus{
            left: 17px;
        }
    }
}

@media (max-width: 700px) {
    .form{
        input,textarea{
            font-size: 14px;
        }
        label{
            font-size: 14px;
        }
        &__title{
            font-size: 24px;
        }
        &__inputs{
            height: 60px;
        }
    }
}

@media (max-width: 500px) {
    .form{
        &__title{
            // font-size: 18px;
        }
        &__inputs{
            flex-wrap: wrap;
            height: auto;
            margin-bottom: 0;
            input{
                width: 100%;
                height: 60px;
                margin-right: 0px;
                margin-bottom: 10px;
            }
        }
    }
}