
.bg{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    svg{
        position: relative;
        z-index: 1;
    }
}
.line-bg{
    position: absolute;
    right: 0px;
    top: 0px;

    z-index: -1;
}

.shadow{
    z-index: -2;
    width: 1;
    height: 1;
    right: 0%;
    top: 18%;
    position: absolute;
    background: #08C2C2;
    // filter: blur(600px);
    box-shadow: 0 0 364px 265px #08c2c2;
    border-radius: 50%;
    animation: showBgShadow 3s ease-in ;
}


@keyframes showBgShadow {
    0% {
        box-shadow: 0 0 10px 10px #08c2c2;
    }
    80%{
        box-shadow: 0 0 464px 365px #08c2c2;
    }
    100%{
        box-shadow: 0 0 364px 265px #08c2c2;
    }
}

@media(max-width: 1702px) {
    .line-bg {
        right: -20%;
        top: 2%;
    }
}

@media (max-width: 800px) {
    .line-bg{
        display: none;
    }
    .shadow{
        top: 7%;
        box-shadow: 0 0 302px 207px #08c2c2 ;
    }
    
}