

.link-home{
    display: block;
    margin-bottom: 200px;
    font-size: 24px;
    &__link{
        cursor: pointer;
        display: inline-block;
        text-align: right;

        &:hover {
            color: #008c8c;

            path {
                fill: #008c8c
            }
        }
    }
    span {
        display: block;
        margin-bottom: 25px;
        transition-duration: 0.3s;
    }
    svg, path{
        transition-duration: 0.3s;
    }
}


@media (max-width: 800px) {
    .link-home{
        margin-bottom: 60px;
    }
}